# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/build/
ios/Flutter/App.framework
ios/Flutter/engine/

# Xcode
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
DerivedData/
*.xcworkspace

# Android
.android/
.gradle/
local.properties
*.iml
.idea/
android/app/debug
android/app/profile
android/app/release

# VS Code
.vscode/

# Mac
.DS_Store

# Others
*.log
*.tmp
*.swp
